on:
  push:
    branches: [ master ]
name: Deploy master branch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        node-version: 3.7
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: pip install pipenv
    - run: npm i -g serverless
    - run: npm i
    - run: serverless client deploy -y
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        SLS_DEBUG: t
    - run: serverless deploy
      env:
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        SLS_DEBUG: t
